{% include ['header/header.html.twig', 'base.html.twig'] %}

{% block title %}{% endblock %}

{% block body %}
<body  style="background-image: url('media/backformtest1.jpg');background-repeat: no-repeat;background-size: cover;"  >
    <div class="container form-control  w-50 shadow " style="padding-right:10%; padding-left:10%; margin-top: 100px; margin-bottom: 10%; background-color: #ffebeb;">
       <h1 class="text-center pb-4 border-bottom"> Sign up </h1>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
           {{ message }}
        </div>
        {% endfor %} 

        {{ form(form)}}

    </div>
    </body>
{% endblock %}
{% include 'footer/footer.html.twig' %}