{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
<div class="container">
<h1> Welcome , here you can manage your site </h1>
<h3> Just click on the user or aricles or comments or contacts , and Update or remove them</h3>
</div>
{% endblock %}


