{{form_start(form)}}

<div class"row">
<div class="col-8">{{form_row(form.q)}}</div>
<div class="col-3 text-center"><button type="submit" class="btn btn-primary w-100">Search<button></div>
</div>
{{form_end(form)}}