{{form_start(form)}}
<div >
<div class=" d-flex justify-content-end   " >{{form_row(form.q)}} 
<button class="btn btn-light " style="height: 38px"><i class="bi bi-search"></i></button>
</div>
</div>
{{form_end(form)}}